Repository jamaljsr/cra-electron-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write, stylelint --syntax scss --fix

chore(deps): update dependency @types/react-dom to v16.8.5
  package.json
  yarn.lock
Due: none

chore(codecov): replace coveralls with codecov for test coverage reports (#24)
  .travis.yml
  appveyor.yml
  package.json
  yarn.lock
Due: prettier --single-quote --write

chore(deps): update dependency electron to ^5.0.8
  package.json
  yarn.lock
Due: none

feat(i18n): install and configure i18next
  locales/en-US.json
  locales/es.json
  package.json
  src/components/home/Home.tsx
  src/i18n/config.ts
  src/i18n/index.ts
  src/index.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency electron-builder to ^21.1.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency antd to ^3.20.6
  package.json
  yarn.lock
Due: none

feat(i18n): add i18next-scanner to extract locale messages
  .i18next-scanner.js
  locales/en-US.json
  locales/es.json
  package.json
  src/components/home/Home.tsx
  src/i18n/config.ts
  src/i18n/index.ts
  src/i18n/locales/en-US.json
  src/i18n/locales/es.json
  src/react-app-env.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(i18n): fix broken tests due to i18n setup
  package.json
  src/components/Routes.spec.tsx
  src/components/home/Home.spec.tsx
  src/setupTests.js
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency lint-staged to ^9.2.1
  package.json
  yarn.lock
Due: none

feat(i18n): complete translations for the Home component
  src/__mocks__/react-i18next.js
  src/components/home/Home.spec.tsx
  src/components/home/Home.tsx
  src/i18n/locales/en-US.json
  src/i18n/locales/es.json
  src/setupTests.js
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(i18n): add translations to the Counter component
  .i18next-scanner.js
  src/components/counter/Counter.spec.tsx
  src/components/counter/Counter.tsx
  src/i18n/locales/en-US.json
  src/i18n/locales/es.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(i18n): add translations for the AppLayout component
  src/components/layouts/AppLayout.spec.tsx
  src/components/layouts/AppLayout.tsx
  src/i18n/locales/en-US.json
  src/i18n/locales/es.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(i18n): add language toggle in footer and add logo in header
  src/components/layouts/AppLayout.module.less
  src/components/layouts/AppLayout.tsx
  src/i18n/locales/en-US.json
  src/i18n/locales/es.json
  src/resources/logo.png
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, stylelint --syntax scss --fix

feat(i18n): add translations to counter state model
  e2e/Counter.e2e.ts
  e2e/Home.e2e.ts
  src/i18n/locales/en-US.json
  src/i18n/locales/es.json
  src/store/models/counter.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(counter): update unit tests for counter model to support i18n
  src/__mocks__/i18next.js
  src/components/counter/Counter.spec.tsx
  src/store/models/counter.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency antd to ^3.20.7
  package.json
  yarn.lock
Due: none

feat(i18n): add multi-language support using i18next (#29)
  .i18next-scanner.js
  e2e/Counter.e2e.ts
  e2e/Home.e2e.ts
  package.json
  src/__mocks__/i18next.js
  src/__mocks__/react-i18next.js
  src/components/Routes.spec.tsx
  src/components/counter/Counter.spec.tsx
  src/components/counter/Counter.tsx
  src/components/home/Home.spec.tsx
  src/components/home/Home.tsx
  src/components/layouts/AppLayout.module.less
  src/components/layouts/AppLayout.spec.tsx
  src/components/layouts/AppLayout.tsx
  src/i18n/index.ts
  src/i18n/locales/en-US.json
  src/i18n/locales/es.json
  src/index.tsx
  src/react-app-env.d.ts
  src/resources/logo.png
  src/store/models/counter.spec.ts
  src/store/models/counter.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, stylelint --syntax scss --fix

chore(imports): switch to absolute imports instead of relative
  src/components/App.tsx
  src/components/Routes.spec.tsx
  src/components/counter/Counter.spec.tsx
  src/components/counter/Counter.tsx
  src/components/home/Home.spec.tsx
  src/components/home/Home.tsx
  src/components/layouts/AppLayout.spec.tsx
  src/components/layouts/AppLayout.tsx
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency webpack to v4.38.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/react to ^8.0.7
  package.json
  yarn.lock
Due: none

chore(imports): switch to absolute imports instead of relative (#31)
  src/components/App.tsx
  src/components/Routes.spec.tsx
  src/components/counter/Counter.spec.tsx
  src/components/counter/Counter.tsx
  src/components/home/Home.spec.tsx
  src/components/home/Home.tsx
  src/components/layouts/AppLayout.spec.tsx
  src/components/layouts/AppLayout.tsx
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency react-hot-loader to ^4.12.10
  package.json
  yarn.lock
Due: none

feat(logging): add electron-log package
  electron/main.ts
  package.json
  src/__mocks__/electron-log.js
  src/components/App.tsx
  src/components/counter/Counter.tsx
  src/components/home/Home.tsx
  src/store/models/counter.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

docs(readme): update README with explanation of the tech stack
  README.md
Due: prettier --single-quote --write

feat(logging): add electron-log package (#35)
  electron/main.ts
  package.json
  src/__mocks__/electron-log.js
  src/components/App.tsx
  src/components/counter/Counter.tsx
  src/components/home/Home.tsx
  src/store/models/counter.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

docs(readme): update README with explanation of the tech stack (#36)
  README.md
Due: prettier --single-quote --write

chore(deps): update dependency @types/jest to v24.0.16
  package.json
  yarn.lock
Due: none

chore(deps): update dependency husky to ^3.0.2
  package.json
  yarn.lock
Due: none

test(applayout): add tests for the language switching links
  src/__mocks__/react-i18next.js
  src/components/layouts/AppLayout.spec.tsx
  src/components/layouts/AppLayout.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(scripts): update package.json script commands divider
  .travis.yml
  appveyor.yml
  package.json
Due: prettier --single-quote --write

chore(deps): update dependency standard-version to v7
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: ((any of: *.{ts,tsx}) or (any of: *.less)) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --syntax scss --fix: any of: *.less
