Repository jamaljsr/cra-electron-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write, stylelint --syntax scss --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write",
    "git add"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write",
    "git add"
  ],
  "*.less": [
    "stylelint --syntax scss --fix",
    "prettier --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --single-quote --write", "git add"]
}

chore(deps): update dependency webpack to v4.36.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v6
  package.json
  yarn.lock
Due: none

test(e2e): refactor e2e tests to use page models
  .eslintrc
  e2e/App.e2e.ts
  e2e/Counter.e2e.ts
  e2e/Home.e2e.ts
  e2e/helpers.ts
  e2e/helpers/index.ts
  e2e/pages/App.ts
  e2e/pages/Counter.ts
  e2e/pages/Home.ts
  e2e/pages/index.ts
  src/components/layouts/AppLayout.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(unit): fix broken AppLayout unit tests
  src/components/layouts/AppLayout.spec.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(release): add standard-version package
  package.json
  yarn.lock
Due: none

build(travis): only build master and tagged branches
  .travis.yml
Due: prettier --single-quote --write

chore(release): 0.1.0
  CHANGELOG.md
Due: prettier --single-quote --write

fix(deps): update dependency easy-peasy to v3.0.0-rc.6
  package.json
  yarn.lock
Due: none

chore(deps): add commitizen
  package.json
  yarn.lock
Due: none

chore(deps): add cz command to package.json
  package.json
Due: none

build(deployment): only run electron builder for the master branch
  .travis.yml
  appveyor.yml
  package.json
Due: prettier --single-quote --write

test(e2e): update e2e tests
  e2e/Counter.e2e.ts
  e2e/pages/Counter.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

build(travis): prevent app packaging for pull requests
  .travis.yml
Due: prettier --single-quote --write

chore(deps): update dependency eslint-plugin-react to ^7.14.3
  package.json
  yarn.lock
Due: none

chore(release): publish electron build to github draft release
  .versionrc
  .vscode/settings.json
  package.json
Due: none

build(electron): update app artifact name
  .electronbuildrc
  package.json
Due: none

perf(electron): decrease app installer package size by up to 50%
  .electronbuildrc
  package.json
Due: none

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --single-quote --write

chore(deps): update dependency react-hot-loader to ^4.12.9
  package.json
  yarn.lock
Due: none

chore(deps): update dependency webpack to v4.37.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/react to ^8.0.6
  package.json
  yarn.lock
Due: none

build(travis): prevent package publishing for pull requests
  .travis.yml
  package.json
Due: prettier --single-quote --write

build(travis): fix syntax error in travis.yml
  .travis.yml
Due: prettier --single-quote --write

test(e2e): update e2e tests (#14)
  e2e/Counter.e2e.ts
  e2e/pages/Counter.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

ci(travis): fix syntax error again
  .travis.yml
Due: prettier --single-quote --write

feat(home): add lorem text to the home page
  src/components/home/Home.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

build(travis): prevent package publishing for pull requests (#19)
  .travis.yml
  package.json
Due: prettier --single-quote --write

chore(deps): update dependency easy-peasy to v3.0.0
  package.json
  yarn.lock
Due: none

refactor(home): minor refactoring to home page hook
  src/components/home/Home.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency @types/react-dom to v16.8.5
  package.json
  yarn.lock
Due: none

feat(home): add lorem text to the home page (#20)
  src/components/home/Home.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(nav): update app nav menu
  src/components/layouts/AppLayout.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(nav): update app nav menu (#23)
  src/components/layouts/AppLayout.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(codecov): add codecov for test coverage reports
  .travis.yml
  appveyor.yml
  package.json
  yarn.lock
Due: prettier --single-quote --write

chore(codecov): remove coveralls package
  .travis.yml
  appveyor.yml
  package.json
  yarn.lock
Due: prettier --single-quote --write
